<div class="header-bottom header-bottom-bg-color sticky-bar">
    <div class="container">
        <div class="header-wrap header-space-between position-relative">
            <div class="logo logo-width-1 d-block d-lg-none">
                <a href="#"><img src="{{ 'logo.png' | asset_url }}" alt="logo"></a>
            </div>
            <div class="header-nav d-none d-lg-flex">
                {% render 'header-bottom-left', settings: section.settings, section: section %}
                {% render 'header-bottom-middle', settings: section.settings, section: section %}
            </div>
            <div class="hotline d-none d-lg-block">
                <p><i class="fi-rs-smartphone"></i><span>Toll Free</span> {{ settings.right_text }} </p>
            </div>
            <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%</p>
            <div class="header-action-right d-block d-lg-none">
                <div class="header-action-2">
                    <div class="header-action-icon-2">
                        <a href="#">
                            <img alt="Surfside Media" src="{{ 'icon-heart.svg' | asset_url }}">
                            <span class="pro-count white">4</span>
                        </a>
                    </div>
                    <div class="header-action-icon-2">
                        <a class="mini-cart-icon" href="#">
                            <img alt="Surfside Media" src="{{ 'icon-cart.svg' | asset_url }}">
                            <span class="pro-count white">2</span>
                        </a>
                        <div class="cart-dropdown-wrap cart-dropdown-hm2">
                            <ul>
                                <li>
                                    <div class="shopping-cart-img">
                                        <a href="#"><img alt="Surfside Media" src="{{ 'thumbnail-3.jpg' | asset_url }}"></a>
                                    </div>
                                    <div class="shopping-cart-title">
                                        <h4><a href="#">Plain Striola Shirts</a></h4>
                                        <h3><span>1 × </span>$800.00</h3>
                                    </div>
                                    <div class="shopping-cart-delete">
                                        <a href="#"><i class="fi-rs-cross-small"></i></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping-cart-img">
                                        <a href="#"><img alt="Surfside Media" src="{{ 'thumbnail-4.jpg' | asset_url }}"></a>
                                    </div>
                                    <div class="shopping-cart-title">
                                        <h4><a href="#">Macbook Pro 2022</a></h4>
                                        <h3><span>1 × </span>$3500.00</h3>
                                    </div>
                                    <div class="shopping-cart-delete">
                                        <a href="#"><i class="fi-rs-cross-small"></i></a>
                                    </div>
                                </li>
                            </ul>
                            <div class="shopping-cart-footer">
                                <div class="shopping-cart-total">
                                    <h4>Total <span>$383.00</span></h4>
                                </div>
                                <div class="shopping-cart-button">
                                    <a href="#">View cart</a>
                                    <a href="#">Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-action-icon-2 d-block d-lg-none">
                        <div class="burger-icon burger-icon-white">
                            <span class="burger-icon-top"></span>
                            <span class="burger-icon-mid"></span>
                            <span class="burger-icon-bottom"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>